In [1]:
import pandas as pd

In [2]:
kmeansDf = pd.read_csv('.\dataset_kmeans_clusters.csv')

In [3]:
kmeansDf.columns

Index(['Unnamed: 0', 'book_average_rating', 'num_pages',
       'author_average_rating', 'Cluster_Id', 'book_id', 'author_id',
       'author_name', 'book_title'],
      dtype='object')

In [4]:
del kmeansDf['book_id']
del kmeansDf['author_id']
del kmeansDf['Unnamed: 0']

In [5]:
kmeansDf

,book_average_rating,num_pages,author_average_rating,Cluster_Id,author_name,book_title
0,0.713864,0.484262,0.612903,2,Barbara Hambly,"The Unschooled Wizard (Sun Wolf and Starhawk, ..."
1,0.634218,0.271186,0.612903,2,Barbara Hambly,Bride of the Rat God
2,0.557522,0.284100,0.612903,1,Barbara Hambly,"Knight of the Demon Queen (Winterlands, #3)"
3,0.734513,0.199354,0.612903,0,Barbara Hambly,"Crimson Angel (Benjamin January, #13)"
4,0.486726,0.266344,0.612903,1,Barbara Hambly,Children of the Jedi
...,...,...,...,...,...,...
241308,0.622419,0.180791,0.541219,1,Jennifer Loren,The Devil's Son
241309,0.752212,0.206618,0.720430,0,Jennifer Loren,"The Devil's Revenge (The Devil's Eyes, #2)"
241310,0.725664,0.154964,0.594982,0,Jennifer Loren,The Laws of Kings
241311,0.964602,0.348668,0.781362,2,Jennifer Loren,"The Devil's Son (The Devil's Eyes, #3)"
241312,0.578171,0.103309,0.487455,1,Jennifer Loren,Through The Devil's Eyes - Notes for Nicky (Th...

In [6]:
kmeansDf = kmeansDf.drop_duplicates(subset=['book_title'])

In [7]:
kmeansDf

,book_average_rating,num_pages,author_average_rating,Cluster_Id,author_name,book_title
0,0.713864,0.484262,0.612903,2,Barbara Hambly,"The Unschooled Wizard (Sun Wolf and Starhawk, ..."
1,0.634218,0.271186,0.612903,2,Barbara Hambly,Bride of the Rat God
2,0.557522,0.284100,0.612903,1,Barbara Hambly,"Knight of the Demon Queen (Winterlands, #3)"
3,0.734513,0.199354,0.612903,0,Barbara Hambly,"Crimson Angel (Benjamin January, #13)"
4,0.486726,0.266344,0.612903,1,Barbara Hambly,Children of the Jedi
...,...,...,...,...,...,...
241308,0.622419,0.180791,0.541219,1,Jennifer Loren,The Devil's Son
241309,0.752212,0.206618,0.720430,0,Jennifer Loren,"The Devil's Revenge (The Devil's Eyes, #2)"
241310,0.725664,0.154964,0.594982,0,Jennifer Loren,The Laws of Kings
241311,0.964602,0.348668,0.781362,2,Jennifer Loren,"The Devil's Son (The Devil's Eyes, #3)"
241312,0.578171,0.103309,0.487455,1,Jennifer Loren,Through The Devil's Eyes - Notes for Nicky (Th...

In [8]:
kmeansDf['author_average_rating'].unique()

array([0.61290323, 0.52688172, 0.70609319, 0.59139785, 0.62365591,
       0.58422939, 0.74551971, 0.63799283, 0.66308244, 0.64516129,
       0.65949821, 0.7311828 , 0.67741935, 0.48387097, 0.68817204,
       0.57706093, 0.55913978, 0.44086022, 0.59498208, 0.64874552,
       0.65591398, 0.59856631, 0.50896057, 0.72401434, 0.50179211,
       0.60215054, 0.64157706, 0.70967742, 0.47670251, 0.54121864,
       0.6953405 , 0.63082437, 0.61648746, 0.609319  , 0.4516129 ,
       0.70250896, 0.66666667, 0.62724014, 0.67383513, 0.53046595,
       0.71684588, 0.83154122, 0.55555556, 0.76702509, 0.56630824,
       0.68100358, 0.58064516, 0.78494624, 0.56989247, 0.56272401,
       0.65232975, 0.74193548, 0.5125448 , 0.46953405, 0.6702509 ,
       0.69892473, 0.55197133, 0.54480287, 0.62007168, 0.72043011,
       0.68458781, 0.44802867, 0.60573477, 0.5483871 , 0.69175627,
       0.77419355, 0.3655914 , 0.76344086, 0.53763441, 0.51971326,
       0.80645161, 0.6344086 , 0.49820789, 0.73476703, 0.44444444,
       0.34408602, 0.37634409, 0.5734767 , 0.45519713, 0.77060932,
       0.58781362, 0.88530466, 0.84229391, 0.52329749, 0.72759857,
       0.46594982, 0.50537634, 0.41935484, 0.75268817, 0.74910394,
       0.78853047, 0.49103943, 0.390681  , 0.75985663, 0.80286738,
       0.45878136, 0.79569892, 0.71326165, 0.43369176, 0.41577061,
       0.49462366, 0.78136201, 0.43010753, 0.7921147 , 0.77777778,
       0.43727599, 0.40501792, 0.4874552 , 0.81003584, 0.84587814,
       0.89964158, 0.53405018, 0.34050179, 0.39426523, 0.85663082,
       0.3046595 , 0.73835125, 0.82078853, 0.51612903, 0.83512545,
       0.82437276, 0.79928315, 0.89247312, 0.35842294, 0.81362007,
       0.47311828, 0.40143369, 0.83870968, 0.3297491 , 0.35125448,
       0.7562724 , 0.4265233 , 0.27240143, 0.42293907, 0.37275986,
       0.08602151, 0.46236559, 0.91756272, 0.48028674, 0.86738351,
       0.84946237, 0.82795699, 0.31182796, 0.32616487, 0.41218638,
       0.1827957 , 0.8172043 , 0.40860215, 0.39784946, 0.38709677,
       0.26164875, 0.35483871, 0.36917563, 0.30107527, 0.22939068,
       0.34767025, 0.33333333, 0.90681004, 0.31899642, 0.37992832,
       0.29749104, 0.86021505, 0.25089606, 0.26523297, 0.97849462,
       0.38351254, 0.27956989, 0.86379928, 0.95340502, 0.29032258,
       0.90322581, 0.17921147, 0.23655914, 0.94982079, 0.33691756,
       0.29390681, 0.87455197, 0.89605735, 0.19354839, 0.28315412,
       0.31541219, 0.36200717, 0.93189964, 0.85304659, 0.32258065,
       0.91397849, 0.87096774, 0.06451613, 0.98566308, 0.95698925,
       0.25448029, 0.11111111, 0.24014337, 0.91039427, 0.8781362 ,
       0.96774194, 0.10035842, 0.21505376, 0.21863799, 0.88888889,
       0.1218638 , 0.24731183, 0.27598566, 0.88172043, 0.23297491,
       0.16129032, 0.25806452, 0.93548387, 0.21146953, 0.94623656,
       0.09677419, 0.96415771, 0.15770609, 0.13261649, 0.01075269,
       0.92114695, 0.2688172 , 0.22580645, 0.30824373, 0.2437276 ,
       0.18996416, 0.28673835, 0.19713262, 0.02508961, 0.20071685,
       0.16487455, 0.92831541, 0.10752688, 0.15412186, 0.92473118,
       0.04301075, 0.22222222, 0.13620072, 0.14695341, 0.97491039,
       0.17204301, 0.16845878, 0.9390681 , 0.12903226, 0.14336918,
       0.20430108, 0.97132616, 0.94265233, 0.12544803, 1.        ,
       0.96057348, 0.03584229, 0.09318996, 0.2078853 , 0.02150538,
       0.        , 0.17562724, 0.0609319 , 0.15053763, 0.07885305,
       0.05017921, 0.06810036, 0.11827957, 0.13978495, 0.01792115,
       0.08243728, 0.02867384, 0.11469534, 0.18637993, 0.98207885,
       0.07526882, 0.03942652, 0.00716846])

In [9]:
kmeansDf = kmeansDf[kmeansDf['book_average_rating'] >= 0.6]

In [10]:
kmeansDf = kmeansDf[kmeansDf['author_average_rating'] >= 0.6]

In [12]:
kmeansDf

,book_average_rating,num_pages,author_average_rating,Cluster_Id,author_name,book_title
0,0.713864,0.484262,0.612903,2,Barbara Hambly,"The Unschooled Wizard (Sun Wolf and Starhawk, ..."
1,0.634218,0.271186,0.612903,2,Barbara Hambly,Bride of the Rat God
3,0.734513,0.199354,0.612903,0,Barbara Hambly,"Crimson Angel (Benjamin January, #13)"
5,0.749263,0.206618,0.612903,0,Barbara Hambly,The Magicians of Night: (#2)
6,0.675516,0.205811,0.612903,0,Barbara Hambly,Planet of Twilight
...,...,...,...,...,...,...
241299,0.672566,0.103309,0.641577,0,David Halberstam,The Best American Sports Writing of the Century
241301,0.808260,0.071832,0.788530,0,David Halberstam,The Fifties
241305,0.693215,0.264730,0.627240,2,David Halberstam,New York September 11 by Magnum Photographers
241309,0.752212,0.206618,0.720430,0,Jennifer Loren,"The Devil's Revenge (The Devil's Eyes, #2)"
241311,0.964602,0.348668,0.781362,2,Jennifer Loren,"The Devil's Son (The Devil's Eyes, #3)"

In [13]:
kmeansDf.to_csv('dataset_kmeans_clusters.csv')

In [14]:
hierDf = pd.read_csv('.\HierDf_clustered.csv')

In [15]:
hierDf.columns

Index(['Unnamed: 0', 'book_average_rating', 'num_pages', 'publication_year',
       'book_ratings_count', 'author_average_rating', 'Cluster', 'author_name',
       'book_title'],
      dtype='object')

In [18]:

del hierDf['Unnamed: 0']
del hierDf['similar_books']
del hierDf['work_id']
del hierDf['book_id']

KeyError: 'Unnamed: 0'

In [17]:
hierDf.columns

Index(['book_average_rating', 'num_pages', 'publication_year',
       'book_ratings_count', 'author_average_rating', 'Cluster', 'author_name',
       'book_title'],
      dtype='object')

In [19]:
hierDf.to_csv('hierDf_clustered.csv')